<!--from /views/partials/header.ejs-->
<nav>
  <ul class="nav nav-pills">
    <li><a href="/">Home</a></li>
    <li><a href="login">Login</a></li>
    <li><a href="signup">Signup</a></li>
    <li><a href="dashboard">Dashboard</a></li>
    <li><a href="logout">Logout</a></li>
  </ul>
</nav>
