<!-- from '/views/pages/index.ejs'-->
<!DOCTYPE html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <main class="container">
    <header>
      <% include ../partials/header %>
    </header>
    <div class="jumbotron">
      <div class="page-header text-center">
        <h1><span class="fa fa-home"></span> Welcome!</h1>
        <p>This is the sample Express 4.x local auth site</p>
      </div>
    </div>
    <footer class="text-center">
      <% include ../partials/footer %>
    </footer>
  </main>
</body>
